.job-input-box {
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  box-shadow: 0 0 0 2px #632065, inset 0 0 0 1px #fff;
  border-radius: 5px;
  border: 1px #632065 solid;
}

.input-job {
  border-right: 1px solid #b7b7b7;

}
.input-job-border {
  border-right: none;
}
.input-job-title {
  border: none;
  width: 100%;
}
.job-input-button {
  padding: 18px 0;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  background: #632065;
  border-radius: 5px;
  width: 100%;
}
.search-label{
    
    font-size: 18px;
    font-weight: 600;
   

}

.job-number-heading {
  font-size: 18px;
  color: #1a1746;
  padding-top: 15px;
}

.job-heading-number {
  color:#632065;
  font-weight: 600;
}
@media(max-width:767px){
    .search-box-heading
    {
        display: none;
    }
    .input-job{
        border:1px solid #632065; 
        padding:12px; 
        border-radius:4px;
        margin: 1%
        

    }
    .job-input-box {
        box-shadow: none;
        border:none;
        margin: 1%;
       
        
        
    }
    
    .job-input-button{
       display: block;
       width: 100%;
       margin-top:2%
       
       
    }
    
}